@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container row">
    @{
        <div class="col-md-4">
            <h2>Данные объекта: </h2>
            <p>Тип объекта: @Model.vm.Name</p>
            <h4>Публичные свойства и их значения объекта:</h4>
            @foreach (var e in Model.vm.Properties)
            {
                <p>
                    <h5>@e.Key: </h5>
                    @foreach (var p in e.Value)
                    {
                        <p>
                            @p.Key.Name:  @p.Value
                        </p>
                    }
                </p>
             }
        </div>
        <div class="col-md-4"></div>
        <form method="post" class="col-md-4">
            <h2>Редактор свойства: </h2>
            <p>Целочисленные свойства: </p>
            @foreach (var e in Model.vm.Properties)
            {
                <h4>@e.Key.Name:</h4>
                foreach (var p in e.Value)
                {
                    <p>
                        <lable>@p.Key.Name: </lable>
                        <input @{string type = Type.Equals(e.Key, typeof(int)) ? "number" : "text";} type=@type name="@p.Key.Name" value="@p.Value">
                    </p>
                }
            }
            <input type="submit" value="Send">
        </form>
    }
</div>